body {

	&.is-fullscreen-mode {

		#bp-activity-block-editor {
			min-height: 100vh;

			.block-editor,
			.block-editor.iso-editor__selected {
				min-height: 100vh;
			}
		}
	}

	&.edit-activity #bp-activity-block-editor .block-editor,
	#bp-activity-block-editor .block-editor.iso-editor__selected {
		min-height: 145px;

		.edit-post-layout {

			&.has-footer {

				.interface-interface-skeleton__header {
					display: block;

					.edit-post-header-toolbar__left {
						padding-left: 20px;

						> .edit-post-header-toolbar__inserter-toggle {
							&.has-icon {

								&.is-pressed svg {
									transform: rotate(45deg);
								}

								&:not(.is-pressed) {
									height: 32px;
									min-width: 32px;
									padding: 0;
									width: 32px;
								}
							}
						}
					}
				}

				.interface-interface-skeleton__editor {
					margin-bottom: 68px;
				}

				.interface-interface-skeleton__body {
					padding-bottom: 25px;
				}
			}
		}

		.typography-block-support-panel {
			display: none !important;
		}

		.edit-post-sidebar__panel-tabs {

			> ul {
				display: inline-flex;
				-webkit-box-align: center;
				align-items: center;
				position: relative;
				border-radius: 0px;
				height: calc(48px);
				background: transparent;
				border: none;
				box-shadow: none;
				cursor: pointer;
				padding: 3px calc(16px);
				margin-left: 0px;
				font-weight: 500;

				.components-button.edit-post-sidebar__panel-tab {
					height: 48px;

					&.is-active {
						border: none;
						border-bottom: solid 4px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
					}
				}
			}
		}

		.edit-post-visual-editor {
			margin-top: 35px;
		}

		&.has-fixed-toolbar .edit-post-visual-editor {
			margin-top: 0;
		}

		.interface-interface-skeleton__footer {
			display: flex;
		}

		.block-editor-block-list__layout {
			margin-bottom: 19px;
			padding-top: 3px;
		}
	}

	#bp-activity-block-editor {

		.activity-editor-sidebar__group-selection-cancel,
		.activity-editor-sidebar__selected-group-cancel {
			vertical-align: middle;
			margin-left: 5px;
			text-decoration: none;
			border: none;

			.dashicons-dismiss {
				color: #cc1818;
			}
		}

		.activity-editor-sidebar__group-selection-input-row {

			input.components-placeholder__input {
				flex: 1 1 auto;
				border-radius: 2px;
				border: 1px solid #757575;
				padding: 6px 8px;
			}
		}

		.block-editor {
			min-height: auto;

			.interface-interface-skeleton__header {
				display: none;
			}

			.has-footer .interface-interface-skeleton__body {
				padding-bottom: 0;
			}

			.interface-interface-skeleton__content {

				.edit-post-visual-editor {

					.components-popover__content {
						z-index: 100;
					}

					.block-editor-writing-flow {

						.activity-editor-user-avatar__container {
							width: 75px;
							height: 75px;
							float: left;

							.components-button {

								&.activity-editor-user-avatar__button {
									padding: 0;
									margin: 10px 5px 0 10px;
									height: 50px;
									float: left;
								}
							}
						}

						.block-editor-block-list__layout {
							margin-left: 80px;

							.block-editor-default-block-appender {
								clear: none;
							}
						}

						p {
							margin: 16px auto;
						}

					}
				}
			}

			.interface-interface-skeleton__footer {
				display: none;
				z-index: 1;

				.edit-post-layout__footer {
					padding: 16px 0;
					margin-right: 28px;
					display: flex;
					justify-content: flex-end;
					gap: 10px;
					width: 100%;

					.activity-editor-footer__reset-button {
						margin-right: 16px;
					}
				}
			}
		}
	}

	#bp-activity-block-editor-notices {

		.components-notice {
			margin: 0;

			&.is-error {

				.components-notice__action.components-button {
					color: #cc1818;
					box-shadow: inset 0 0 0 1px #cc1818;
				}
			}
		}

		.components-notice__action.components-button,
		.components-notice__action.components-button.is-link {
			margin-left: 0;
		}
	}
}
