#wpbody-content {
	background-color: #f0f0f1;

	#bp-activity-wall-items,
	#bp-activity-view {
		margin: 2rem 0;

		> article {
			border: 1px solid #dcdcde;
			background-color: #fff;
			padding: 0.5rem;
			border-collapse: inherit;
			margin-bottom: 1rem;

			> header {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				.activity-avatar img {
					width: 20px;
					height: 20px;
				}

				.activity-title p {
					margin: 0;
				}
			}

			> footer .activity-action-buttons {
				margin-top: 0.2em;
				margin-bottom: 0;
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}

			&:not(.mini) {

				> header {
					padding-bottom: .5rem;
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
				}

				> footer {
					padding-top: .5rem;
					box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
				}
			}

			.activity-content {

				.activity-inner {

					p {
						margin: 1rem 0;
						font-size: var( --wp--preset--font-size--normal );
					}
				}
			}
		}
	}
}
