#bp-activity-editor {
	padding: 1em;
	background: #FFF;
	border-bottom: solid 1px currentColor;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}
