#buddypress #bp-activity-block-editor,
body.buddypress .buddypress-wrap #bp-activity-block-editor {
	margin-bottom: 2em;

	.components-panel__header {

		button,
		button:hover {
			background: none;
			border: none;
			border-radius: 0;
			color: inherit;
			padding: 0;
			padding: 3px calc(16px);
		}
	}

	.edit-post-sidebar.components-panel {

		h2 {
			font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

			&.block-editor-block-card__title {
				margin: 0;
			}
		}
	}
}
