body {

	&.activity_page_bp-activity-new {

		#wpcontent {
			padding-left: 0;
		}

		#wpbody-content {
			padding-bottom: 0;

			> div:not(#bp-gutenberg):not(#screen-meta) {
				display: none;
			}

			.a11y-speak-region {
				left: -1px;
				top: -1px;
			}
		}

		#wpfooter {
			display: none;
		}
	}

	#bp-gutenberg {

		.block-editor {

			.interface-interface-skeleton__content {

				.edit-post-visual-editor {

					.edit-post-visual-editor__content-area {
						height: 250px;
						overflow: auto;
						padding-bottom: 19px;
					}

					.block-editor-writing-flow {

						p {
							margin: 16px auto;
						}
					}
				}
			}

			&.iso-editor__selected {

				.block-editor-block-list__layout {
					margin-bottom: 19px;
					padding-top: 3px;
				}
			}
		}
	}
}
