body {

	&.activity_page_bp-activity-new {

		#wpcontent {
			padding-left: 0;
		}

		#wpbody-content {
			padding-bottom: 0;

			> div:not(#bp-gutenberg):not(#screen-meta) {
				display: none;
			}

			.a11y-speak-region {
				left: -1px;
				top: -1px;
			}
		}

		#wpfooter {
			display: none;
		}
	}

	#bp-gutenberg {

		.block-editor {

			.interface-interface-skeleton__content {

				.edit-post-visual-editor {
					margin-top: 50px;

					.edit-post-visual-editor__content-area {
						height: 250px;
						overflow: auto;
						padding-bottom: 19px;
					}

					.block-editor-writing-flow {

						.activity-editor-user-avatar__container {
							width: 75px;
							height: 75px;
							float: left;

							.components-button {

								&.activity-editor-user-avatar__button {
									padding: 0;
									margin: 10px 5px 0 10px;
									height: 50px;
									float: left;
								}
							}
						}

						.block-editor-block-list__layout {
							margin-left: 80px;

							.block-editor-default-block-appender {
								clear: none;
							}
						}

						p {
							margin: 16px auto;
						}

					}
				}
			}

			.interface-interface-skeleton__footer {
				z-index: 60;

				.edit-post-layout__footer {
					padding: 16px 0;
					margin-right: 28px;
					display: flex;
					justify-content: flex-end;
					gap: 10px;
					width: 100%;

					.activity-editor-footer__reset-button {
						margin-right: 16px;
					}
				}
			}

			&.iso-editor__selected {

				.block-editor-block-list__layout {
					margin-bottom: 19px;
					padding-top: 3px;
				}
			}
		}
	}
}
